.ssd-base{
    background: linear-gradient(241.25deg, rgba(41, 39, 85, 0.35) 4.4%, rgba(41, 39, 84, 0.78) 61.77%, rgba(27, 24, 66, 0.35) 119.94%);
    box-shadow: 0px 51px 69px rgba(23, 18, 43, 0.585739);
    backdrop-filter: blur(23px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2em;
    align-items: center;
}

.ssd-base .title{

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;

    text-align: center;
    text-decoration-line: underline;

    color: #75749C;
}

.ssd-base .data{

    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
/* identical to box height */

    text-align: center;

    color: #50E3C2;

    text-shadow: 0px 0px 7px rgba(80, 227, 194, 0.67);
}