.base{
    width: 90%;
    padding-top: 1em;
    padding-bottom: 1em;
    background: none;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--text-color);
}

.account-photo{
    height: auto;
    position: relative;
    overflow: hidden;
    background: #75749C;
    border-radius: 50%;
}

.account-photo img{
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%; 
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;  
}

.account-icon{
    font-size: 10em;
}

.account-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
}

.logout{
    padding: .5em;
    border-style: solid;
    border-color: var(--text-color);
    height: auto;
    border-radius: 2em;
}

.logout:hover{
    cursor: pointer;
    color:#262353;
    background: #75749C;
    transition: .15s;
}

.acc-name{
    align-self: flex-start;
    font-size: 3em;
    font-weight: 600;
}

.acc-email{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}

.delete-account-popup{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}