.acc-base {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat-container {
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 95%;
}

.stats-wing{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-user{
    height: fit-content;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.stat-tab{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--text-color);
}

.stat-tab-selection{
    padding-left: .5em;
    padding-right: .5em;
}

.stat-tab-selection:hover{
    cursor: pointer;
    transition: .25s;
}



.acc-id{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 2%;
    background: var(--bg-color); 
    backdrop-filter: blur(23px);
    border-radius: 10px;
    border-style: solid;
    border-color: var(--selection-color);
    border-width: 1px;
    color: var(--text-color);
    font-family: 'Almarai Light';
}

.acc-stat{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.acc-stat .stat{
    margin-left: .5em;
    margin-right: .5em;
}

.acc-stat .title{

}

.acc-stat .data{
    color: var(--selection-color);
}

.acc-ranked{
    margin-left: 1em;
}

.acc-ranked img{
    width: 8em;
}

.account-stat-photo{
    height: 3em;
    width: 3em;
    font-size: 2em;
    position: relative;
    overflow: hidden;
    background: #75749C;
    border-radius: 50%;
}

.account-stat-photo img{
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%; 
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;  
}