.friend-container{
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
}

.friend-username{
    padding-left: .5em;
    padding-top: .4em;
    font-family: 'Almarai';
    font-size: 1.5em;
    color: var(--text-color);
}

.friend-options-button{
    position: absolute;
    top: 35%;
    right: 10%;
    color: var(--text-color);
}

.friend-options-button:hover{
    color: var(--selection-color);
    transition: .25s;
    cursor: pointer;
}