.leaderboard-base{
  background: var(--bg-color);
  width: auto;
  margin-top: 2em;
  margin-inline: 2em;
  padding-inline: 1em;
  padding-bottom: 1em;
}

.leaderboard-header{
  display: grid;
   grid-template-columns: 
    minmax(150px, .5fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr);
  padding: 1em;
  padding-inline: 1em;
}

.leaderboard-person-base{
  color: var(--selection-color);
  margin-bottom: .4em;
  border-style: solid;
  border-width: 1px;
  border-color: var(--selection-color);
  display: grid;
   grid-template-columns: 
    minmax(150px, .5fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr);

  padding: .5em;
  padding-inline: 1em;
  font-family: "Almarai";
  font-size: 1.25em;
}

.sort-button:hover{
  cursor: pointer;
  color: var(--selection-color);
  transition: .25s;
}