.multiplayer-base{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.multiplayer-Icons{
  display: flex;
  flex-direction: center;
  justify-content: space-evenly;
}

.multiplayer-select-text{
  height: fit-content;
  text-align: center;
  font-size: 2em;
}

.find-game{
  background: var(--bg-color);
  align-self: center;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 3em;
  padding-top: 3em;
  width: 14em;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
}

.find-game:hover{
  cursor: pointer;
  color: var(--selection-color);
  transition: .25s;
  border-color: var(--selection-color);
  transition: .25s;
  transform: scale(1.02);
}


/** Below if from tutorial code*/

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px;
  min-height: 30rem;
}
form {
  max-width: 350px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
}

.name-field {
  margin-bottom: 40px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
}

.render-chat {
  max-width: 350px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
}

h3 {
  color: #2f72da;
}

span {
  color: black;
}
