.s-wrapper{
    width: 100%;
    justify-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.s-line-spacing{
    width: 90%;
    padding-bottom: 1em;
    padding-top: 1em;
}

.s-title{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: var(--text-color);
    font-size: 4em;
}

.s-section{
    color: var(--text-color);
    font-size: xx-large;
}