.tb-wrapper{
    padding-top: 1em;
    background: var(--dark-bg);
    width: auto;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.top-group{
    display: flex;
    padding-top: 1em;
    flex-direction: row;
    justify-content: center;
    width: auto;
}

.bottom-group{
    display: flex;
    flex-direction: column;
}

.tb-button{
    padding-right: 1em;
    padding-left: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: 15%;
    color: var(--text-color);
    -webkit-app-region: no-drag;
    font-size: xx-large;
}

.tb-button:hover{
    cursor: pointer;
}

.tb-button:active{
    color: var(--selection-color);
    filter: drop-shadow(0px 0px 8px var(--selection-color));
}

.title{
    color: var(--text-color);
    font-family: 'Almarai Light';
    font-size: x-large;
}