header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-size: 20px;
  color: var(--text-color);
  background: var(--bg-color);
  
  

}

.test-header{
  color:var(--text-color);
  font-size: 20px;
  text-decoration: underline;
  background: var(--bg-color);
  font-weight: bold;
  border-style: solid;
  border-width: 30px;
  width:610px;
  border: 15px solid var(--bg-color) ;
  background-color: var(--dark-bg);
 
 }
 .hiddenSettings{
  background-color: var(--dark-bg);
  border: 10px solid var(--bg-color) ;
  padding:10px;
  
 }
 .capitalLetters{
  
   text-decoration: underline;
   color: var(--text-color);
  
   
 }
 .punctuation {
   text-decoration: underline;
   color: var(--text-color);
  
 }
  .maxWord {
   text-decoration: underline;
   color: var(--text-color);
   
   
 }
 div.TitleSettings {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align:center;
  width:600px;
  height:20px;
}
div.TitleButtonSettings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
div.BoxAndUploadSettings {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
  flex-direction: row;
  
  
}

 .slideButton{
  position:absolute;
  margin-right: auto;
  padding: 15px 70px;
  color: var(--text-color);
   
 }
 .slideButton2{
  position:relative;
  left:150px;
  top:13px;
  margin-right: auto;
  color: var(--text-color);
   
 }
 .switch {
   position: relative;
   display: inline-block;
   width: 60px;
   height: 34px;
 }
 .switch input {
   opacity: 0;
   width: 0;
   height: 0;
 }
 .slider {
   border-radius: 25px;
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: var(--text-color);
   -webkit-transition: .4s;
   transition: .4s;
 }
 
 .slider:before {
   border-radius: 25px;
   position: absolute;
   content: "";
   height: 26px;
   width: 26px;
   left: 4px;
   bottom: 4px;
   background-color: var(--dark-bg);
   -webkit-transition: .4s;
   transition: .4s;
 }
 
 input:checked + .slider {
   background-color:var(--selection-color);
 }
 
 input:checked + .slider:before {
   -webkit-transform: translateX(26px);
   -ms-transform: translateX(26px);
   transform: translateX(26px);
 }
 
 .slider.round {
   border-radius: 21px;
 }
 
 .slider.round:before {
   border-radius: 50%;
 }
 #box {
 
  background-color: var(--primary-color);
  font-size: 1rem;
  border-style: solid;
  border-width: 1px;
  border-color: var(--selection-color);
  display: flex;
  position: relative;
  left:20px;
  flex-wrap: wrap;
  text-align:center;
  padding: 30px 100px;
  color: var(--text-color);
 }
 .secondOption {
   display: flex;
   flex-direction: column;
   float: right;
  font-size: 20px;
  width: 200px;
  color:var(--text-color);
  
}
.countButton {
  background-color: transparent;
  color:var(--text-color);
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 40px;
 }
 .increOrDecre{
   display: inline;
   position:relative;
   left:430px;
   bottom: 20px;
 color:var(--selection-color); 
 font-size: 35px;

}
.inputfile {
  overflow: hidden;
  display: none;
  position: relative;
  z-index: -1;

}
.inputfile + label {
  margin-left: 1.5em;
  margin-right: .5em;
  padding: .5em;
  border-radius: .5em;
  border: 0px;
  font-size: 1em;
  background: var(--primary-color);
  color: var(--text-color); 
}
.inputfile + label:hover{
  transition: .25s;
  color: var(--selection-color);
  cursor: pointer;
}

 .buttons{
  font-size: 30px;
  color: var(--selection-color);
  background-color: transparent;
  border-color: transparent;
  position: relative;
  left:210px;

}
::-webkit-input-placeholder {
 position:fixed; left:0%; top:0%;
 color:var(--selection-color);
}

.customButtons{
  margin-left: 1.5em;
  margin-right: .5em;
  margin-top: 0.5em;
  padding: .5em;
  border-radius: .5em;
  border: 0px;
  font-size: 1em;
  background: var(--primary-color);
  color: var(--text-color); 
}

.customButtons:hover{
  transition: .25s;
  color: var(--selection-color);
  cursor: pointer;
}