.container {
    padding-left: 20%;
    padding-right: 20%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.word-base{
    position: relative;
    max-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(210.96deg, rgba(40, 36, 88, 0.61) 0.01%, rgba(38, 35, 83, 0.7) 42.05%, rgba(62, 59, 115, 0) 104.81%);
    filter: drop-shadow(0px 48px 69px rgba(23, 18, 43, 0.845335));
    backdrop-filter: blur(20px);
    padding: 5px;
    border-radius: 10px;
}

.word-base .start-signal-wrapper{
    position: absolute;
    padding: 15px;
    border-radius: 8px;
    background: #17153A;
    filter: drop-shadow(0px 0px 35px rgb(9, 0, 24));
    color:#75749C;
    /* animation: breathing 5s infinite forwards; */
    font-size: 1.25rem;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-color: #50E3C2;
} 

.word-base .start-signal{
    position: relative;
    padding: 15px;
    border-radius: 5px;
    background: #50E3C2;
    filter: drop-shadow(0px 0px 8px #50E3C2);
    color:#201D47;
    /* animation: breathing 8s infinite forwards; */
    font-weight: 750;
    }

.wpm{
    position: relative;
    padding: 15px;
    font-size: 12px;
    background:#3C2F80;
    color: #75749C;
    border-radius: 15px;
    margin: 5px;

}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97);
  }

  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97);
  }
}

.test-text{
    font-family: Almarai;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
}

.test-text .right{
    color: #50E3C2;
    text-shadow: 0px 0px 9px #50E3C2;
}
.test-text .default{
    color: #75749C;
}

.timer-wrapper{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: xx-large;
    align-items: flex-end;
}

.timer-wrapper .right-elements{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.timer-wrapper .timer-select{
    display: flex;
    flex-direction: row;
}

.timer-wrapper .time-button{
    padding-left: 10px;
    color:#75749C
}

.timer-wrapper .time-button:hover{
    cursor: pointer;
}

.timer-wrapper .timer{
    font-size: 50px;
}

.countdown{
    position: absolute;
    color:#50E3C2;
    font-size: 150px;
    font-weight: 500;
}

.cd-switch-wrapper{
    color:#75749C;
    display: flex;
    flex-direction: column;
    font-size: small;
    align-items: center;
    margin-bottom: 4px;
}

.countdown-switch{
    display: flex;
    flex-direction: row;
    font-size: xx-small;
    align-items: center;
}

.countdown-switch .text{
    padding: 4px;
}


.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 23px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #75749C;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: #18163d;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #50E3C2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #50E3C2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}