.container {
    padding-left: 20%;
    padding-right: 20%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.word-base{
    position: relative;
    max-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: var(--bg-color); */
    backdrop-filter: blur(20px);
    padding: .75em;
}

.word-base .start-signal-wrapper{
    position: absolute;
    padding: 15px;
    border-radius: 8px;
    background: var(--bg-color);
    filter: drop-shadow(0px 0px 35px var(--dark-bg));
    color: var(--text-color);
    /* animation: breathing 5s infinite forwards; */
    font-size: 1rem;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-color: var(--selection-color);
} 

.word-base .start-signal{
    position: relative;
    padding: 15px;
    border-radius: 5px;
    background: var(--selection-color);
    filter: drop-shadow(0px 0px 8px var(--selection-color));
    color:var(--bg-color);
    /* animation: breathing 8s infinite forwards; */
    font-weight: 750;
    }

.wpm{
    position: relative;
    padding: 15px;
    font-size: 12px;
    background: var(--primary-color);
    color: var(--text-color);
    border-radius: 15px;
    margin: 5px;

}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97);
  }

  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97);
  }
}

.test-line-container{
    margin-top: .1em;
    margin-bottom: .1em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1ch;
    padding-right: 1ch;
    width: 55ch;
    background: var(--text-container);
    font-family: Almarai;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    text-align: left;
    letter-spacing: .03em;
}

.test-line-container .wrong{
    color: var(--warning);
    text-shadow: 0px 0px 9px var(--warning);
}

.test-line-container .correct{
    color: var(--selection-color);
    text-shadow: 0px 0px 9px var(--selection-color);
}
.test-line-container .default{
    color: var(--text-color);
}

.next-up{
    margin: 0;
    padding-top: 0;
    background: var(--dark-bg);
    color: var(--next-up-text-color);
}

.timer-wrapper{
    height: auto;
    width: 57ch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: xx-large;
    align-items: flex-end;
}

.timer-wrapper-multiplayer{
    height: auto;
    width: 65ch;
    display: flex;
    flex-direction: row;
    font-size: xx-large;
    justify-content: center;
}

.timer-wrapper .right-elements{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.timer-wrapper .timer-select{
    display: flex;
    flex-direction: row;
}

.timer-wrapper .time-button{
    padding-left: 10px;
    color:var(--text-color)
}

.timer-wrapper .time-button:hover{
    cursor: pointer;
}

.timer{
    font-size: 50px;
}

.countdown{
    position: absolute;
    color: var(--selection-color);
    font-size: 150px;
    font-weight: 500;
}

.cd-switch-wrapper{
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font-size: small;
    align-items: center;
    margin-bottom: 4px;
}

.countdown-switch{
    display: flex;
    flex-direction: row;
    font-size: xx-small;
    align-items: center;
}

.countdown-switch .text{
    padding: 4px;
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
}

/* cursor */
.cursor{
  background-color: var(--selection-color);
  padding-left: 2px;
}

.multiplayer-player-name{
    text-align: center;
    color: var(--text-color);
    font-size: 2em;
    font-weight: bold;
}

.WordBox {
    
    display: flex;
    position: relative;
    right:300px;
    margin-top: .1em;
    margin-bottom: .1em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1ch;
    padding-right: 1ch;
    font-family: Almarai;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    text-align: left;
    letter-spacing: .03em;
  }
.WordBox label{
    display: flex;
    text-align: left;
    font-size: 20px;
    color: var(--primary-color);
}
.input-text {
    text-align: left;
    font-size: 2rem;
    font-weight: 400;
    width: 300px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
    background-color: var(--text-container);
    border-color:var(--selection-color);
    color:var(--selection-color)
  }
