.cd-switch-wrapper{
    color:#75749C;
    display: flex;
    flex-direction: column;
    font-size: small;
    align-items: center;
    margin-bottom: 4px;
}

.countdown-switch{
    display: flex;
    flex-direction: row;
    font-size: xx-small;
    align-items: center;
}

.countdown-switch .text{
    padding: 4px;
}


.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 23px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #75749C;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: #18163d;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #50E3C2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #50E3C2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}