.Background{
  width: 105%;
  height: 110%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.ModalWrapper{
  position: relative;
  width: 25rem;
  height: auto;
  padding-bottom: 1.5em;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: #201D47;
  color: #75749C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-color: #50E3C2;
  border-style: solid;
  border-width: 1px;
}

.ModalContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  line-height: 1.8;
  color: #75749C;

}

.form-inputs{
    width: 350px;
    height: 40px;
    margin: 1em;
}

.form-input {
  display: block;
  padding-left: 10px;
  border-radius: 3px;
  height: 100%;
  width: 340px;
  color: #FFFFFF;
  background: none;
  border-style: solid;
  border-color: #75749C;
  border-width: 1px;
}

.form-input:focus{
    border-color: #50E3C2;
}

::placeholder{
    color: #FFFFFF;
    opacity: .5;
}

.ModalContent  h1 {
    font-size: 3rem;
    margin: 0%;
}

.ModalContent  p {
    font-size: 1rem;
    margin: auto;
}

.sign-in-button{
    width: 350px;
    height: 43px;
    padding: 10px 24px;
    background: linear-gradient(70deg, #50E3C2 0%, #35a38b 100%);
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
    font-size: large;
}

.sign-in-button:hover{
    cursor: pointer;
}

.ModalWrapper .close-modal{
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  padding: 0;
  z-index: 10;
}

.ModalWrapper .close-modal:hover{
    color: #50E3C2;
    transition: .25s;
}

.sign-in-options{
    display: flex;
    flex-direction: row;
    font-size: smaller;
    justify-content: right;
    width: 350px;
    margin-bottom: 15px;
}

.sign-in-options .account-links{
    line-height: 1.1;
}

.sign-in-options .account-links .individual:hover{
    color:#50E3C2;
    cursor: pointer;
    transition: .25s;
}

.remember-me{
    display: flex;
}

.check-box{
    -webkit-appearance: none;
	background-color: #224957;
	border: none;
    padding: 6px;
	border-radius: 3px;
}

.form-inputs .errors{
  font-size: smaller !important;
  padding-left: 2em;
  text-align: left;
  color: #f00e0e;
}